html,body {height:100%; margin:0; padding:0;}

#space {
    height: 100vh;
    width: 100vw;
    background-color: #a3d390;
}

#head {
    position: absolute;
    top: 10vh;
    left: 36vw;
    color: white;
    font-size: 7vh;
    text-align: center;
    font-weight: bold;
}

#btn {
    position: absolute;
    width: 10vh;
    height: 10vh;
    
    top: 28vh;
    left: 69vw;

    font-size: 10vh;
    text-align: center;
    line-height: 10vh;
    color: #a3d390;

    border: none;
    border-radius: 50%;
    background-color: white;
}

#input {
    position: absolute;
    width: 40vw;
    height: 10vh;
    top: 28vh;
    left: 27vw;

    padding-left: 1vw;
    font-size: 5vh;
    
    border: none;
    border-radius: 5px;

}
input:focus {outline:none;}
::placeholder{color: lightgray;}

#listspace {
    position: relative;
    width: 50vw;
    height: 60vh;

    top: 38vh;
    left: 24vw;

    overflow-x: hidden;
}

#combi{
    position: relative;
    left: 3vw;
    margin-bottom: 1vh;
}

#content {
    position: relative;
    display: inline-block;
    background-color: white;
    width: 37vw;
    height: 8vh;

    font-size: 4vh;
    color: rgb(66, 65, 65);
    
    padding-left: 4vw;
    border-radius: 5px;
    line-height: 8vh;

    z-index: 5;
}

#check {
    position: relative;
    display: inline-block;
    height: 4vh;
    width: 4vh;

    left: -40vw;
    top: 0.5vh;
    z-index: 10;

    border: none;
    border-radius: 50%;
    background-color: lightgray;
}

#del {
    position: relative;
    height: 4vh;
    width: 5vh;

    left: -6vw;
    top: -0.75vh;

    z-index: 10;
    font-size: 2vh;
    color: white;
    text-align: center;
    padding: 0;

    background-color: rgb(199, 98, 98);
    border: none;
}